<div class="page-left">
    <div class="system-logo">
        <div></div>
    </div>
    <div class="system-nav">
        <ul class="list-unstyled">
            <li *ngFor="let item of navItems" routerLinkActive="act"><a routerLink="{{item.linkUrl}}"><span 
                class="{{item.className}}"></span><span class="txt">{{item.name}}</span></a>
            </li>
        <!--    <li routerLinkActive="act"><a routerLink="/business"><span 
                class="icon icon2"></span><span class="txt">业务受理</span></a>
            </li>
            <li routerLinkActive="act"><a routerLink="/queryCenter"><span 
                class="fa fa-search"></span><span class="txt">查询</span></a>
            </li>
            <li routerLinkActive="act"><a routerLink="/other"><span 
                class="icon icon4"></span><span class="txt">其它</span></a>
            </li> -->
        </ul>
    </div>
</div>
