<div class="fast-service">
    <div class="title">快捷服务</div>
    <div class="container container-service">
        <div class="row row-cus">
            <div class="col-cus">
                <div class="left">
                    <div class="icon1"></div>
                </div>
                <div class="right">一站式开户</div>
            </div>
            <div class="col-cus">
                <div class="left">
                    <div class="icon2"></div>
                </div>
                <div class="right">一站式销户</div>
            </div>
            <div class="col-cus">
                <div class="left">
                    <div class="icon3"></div>
                </div>
                <div class="right">密码重置</div>
            </div>
            <div class="col-cus">
                <div class="left">
                    <div class="icon4"></div>
                </div>
                <div class="right">创业板登记</div>
            </div>
            <div class="col-cus">
                <div class="left">
                    <div class="icon5"></div>
                </div>
                <div class="right">证券账户开户</div>
            </div>
            <div class="col-cus">
                <div class="left">
                    <div class="icon6"></div>
                </div>
                <div class="right">客户佣金设置</div>
            </div>
            <div class="col-cus">
                <div class="left">
                    <div class="icon7"></div>
                </div>
                <div class="right right-long">账户注册
                    <br/>资料变更</div>
            </div>
            <div class="col-cus">
                <div class="left">
                    <div class="icon8"></div>
                </div>
                <div class="right">身份信息变更</div>
            </div>
            <div class="col-cus">
                <div class="left">
                    <div class="icon9"></div>
                </div>
                <div class="right">撤指定</div>
            </div>
            <div class="col-cus">
                <div class="left">
                    <div class="icon10"></div>
                </div>
                <div class="right">转托管</div>
            </div>
        </div>
    </div>
</div>
